<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="login-page">
    <section class="login-container">
        <h1>Iniciar Sesión</h1>

        <div th:if="${error}" class="error-message" role="alert" >
            <span th:text="${error}"></span>
        </div>
        <div th:if="${message}" class="alert alert-success" role="alert" >
            <span th:text="${message}"></span>
        </div>

        <form th:action="@{/login}" method="post" class="login-form">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input id="username" type="text" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" type="password" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </section>
</main>
</body>
</html>