<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
    <body>
        <section id="about" th:fragment="about">
            <h2>SOBRE MI</h2>
            <p th:text="${personalInfo.profileDescription}"></p>
            <a href="#projects">
                <button>Estos son mis proyectos</button>
            </a>

        </section>
    </body>
</html>