<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>

    <nav th:fragment="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#skills">Mis Habilidades</a></li>
            <li><a href="#education">Educación</a></li>
            <li><a href="#projects">Mis Proyectos</a></li>
            <li><a href="#experience">Experiencia</a></li>
            <li><a href="#contact">Contáctame</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/education}">Admin</a></li>
        </ul>
    </nav>

</body>
</html>
