<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>

<nav th:fragment="nav">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#education">Educación</a></li>
        <li><a href="#skills">Habilidades</a></li>
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#contact">Contacto</a></li>

        <li><a th:href="@{/swagger-ui/index.html}" target="_blank" title="Explora mi API REST pública">API</a></li>

        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Admin</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/education}">Admin</a></li>
    </ul>
</nav>

</body>
</html>