input[type="file"]::file-selector-button {
    background-color: var(--color-primary-gold); /* Color Dorado */
    color: var(--color-dark); /* Texto oscuro */
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
}
input[type="file"]::file-selector-button:hover {
    background-color: var(--color-dark); /* Oscuro al pasar raton */
    color: var(--color-primary-gold); /* Texto dorado al pasar raton */

}