<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
</head>
<body>

    <h1>Formulario de Informacion Personal</h1>
    <form th:action="@{/personal-info-save}" th:object="${personalInfo}" method="post">
        <div>
            <label>Nombre:</label>
            <input type="text" name="" id="" th:field="*{firstName}">
        </div>

        <div>
            <label>Email:</label>
            <input type="text" name="" id="" th:field= "*{email}">
        </div>
        <button type="submit">Guardar</button>



    </form>

</body>
</html>