<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <section id="contact" th:fragment="contactForm">
        <h2>CONTÁCTAME</h2>
        <form class="contact-form" action="https://formspree.io/f/xbdkplno" method="POST" >
            <input  name="nombre" type="text" placeholder="Nombre" required>
            <input name="email" type="email" placeholder="Email" required>
            <textarea name="mensaje" type="text" placeholder="Mensaje" rows="6" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>

</body>
</html>