<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <section id="experience" th:fragment="experience">
        <h2>EXPERIENCIA</h2>
        <div class="experience-timeline">
            <div class="timeline-item" th:each="exp : ${experienceList}">
                <h3 th:text="${exp.jobTitle} + ' - ' + ${exp.companyName}"></h3>
                <p class="timeline-date" th:text="${exp.startDate} + ' - ' + ${exp.endDate}"></p>
                <p th:text="${exp.description}"></p>
            </div>
        </div>
    </section>

</body>
</html>