<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="hero-section" th:fragment="hero">

    <div class="hero-text">
        <span class="hero-greeting">Hola, soy</span>
        <h1 class="hero-name" th:text="${personalInfo.firstName} + ' ' + ${personalInfo.lastName}">
            José Antonio Ortiz Sánchez
        </h1>
        <p class="hero-title" th:text="${personalInfo.title}">
            Java Backend Developer
        </p>
    </div>

    <div class="profile-image-container">
        <img th:src="${personalInfo.profileImageUrl}" alt="Profile Picture" class="profile-picture">
    </div>

    <div class="hero-actions">
        <div class="action-group">
            <a th:href="${personalInfo.linkedinUrl}" target="_blank" class="btn-secondary">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a th:href="${personalInfo.githubUrl}" target="_blank" class="btn-secondary">
                <i class="fab fa-github"></i> Github
            </a>
            <a th:href="@{/docs/CV_Jose_Ortiz_ES.pdf}" class="btn-secondary" download>
                <i class="fa-solid fa-file-pdf"></i> CV (ES)
            </a>
            <a th:href="@{/docs/CV_Jose_Ortiz_EN.pdf}" class="btn-secondary" download>
                <i class="fa-solid fa-file-pdf"></i> CV (EN)
            </a>
        </div>

        <div class="main-cta">
            <a href="#projects">
                <button class="btn-primary">MIS PROYECTOS</button>
            </a>
        </div>
    </div>

</div> </body>
</html>