<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="hero-section" th:fragment="hero">

        <h1>Soy <span th:text="${personalInfo.firstName} + ' ' + ${personalInfo.lastName}"></span>
            <br>
            <span th:text="${personalInfo.title}"></span>
        </h1>

        <div class="profile-image-container">
            <img th:src="${personalInfo.profileImageUrl}" alt="Imagen de perfil" class="profile-picture">
        </div>

        <div class="contact-info">
        </div>

        <div class="social-links">
            <a th:href="${personalInfo.linkedinUrl}" target="_blank" class="btn-social">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a th:href="${personalInfo.githubUrl}" target="_blank" class="btn-social">
                <i class="fab fa-github"></i> Github
            </a>
        </div>

        <div class="cta-container">
            <a href="#contact" class="btn-primary">
                <i class="fas fa-envelope"></i> CONTACTARME
            </a>
        </div>


        <button> MIS PROYECTOS</button>

    </div>
</body>
</html>