<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="hero-section" th:fragment="hero">

        <h1>Soy <span th:text="${personalInfo.firstName} + ' ' + ${personalInfo.lastName}"></span>
            <br>
            <span th:text="${personalInfo.title}"></span> con <span th:text="${personalInfo.yearsOfExperience}"> </span> años de experiencia en desarrollo web.
        </h1>

        <div class="profile-image-container">
            <img th:src="${personalInfo.profileImageUrl}" alt="Imagen de perfil" class="profile-picture">
        </div>

        <p th:text="${personalInfo.profileDescription}"></p>

        <div class="social-links">
            <a th:href="${personalInfo.linkedinUrl}">Linkedin</a>
            <a th:href="${personalInfo.githubUrl}"> Github</a>
        </div>

        <div class="contact-info">
            <p th:text="${personalInfo.email}"></p>
            <p th:text="${personalInfo.phone}"></p>
        </div>


        <button> MIS PROYECTOS</button>

    </div>
</body>
</html>