<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Proyectos</title>
</head>
<body>
    <section id="projects" th:fragment="projects">
        <h2>Mis Proyectos</h2>
        <div class="projects-grid">
            <div class="project-card" th:each="project : ${projectsList}">
                <img th:src="@{${project.imageUrl}}" th:alt="${project.title} + 'Imagen del Proyecto'" >
                <h3 th:text="${project.title}">Título del Proyecto </h3>
                <p th:text="${project.description}">Descripción del Proyecto</p>
                <a th:href="${project.projectUrl}" target="_blank" > Vista del Proyecto </a>
            </div>
        </div>
    </section>
</body>
</html>