<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <section id="skills" th:fragment="skills">
        <h2>MIS HABILIDADES</h2>
        <div class="skills-grid">
            <div class="skill-card" th:each="skill : ${skills}">
                <img th:src="${skill.iconClass}" th:alt="${skill.name}">
                <h3 th:text="${skill.name}">HTML5</h3>
            </div>
        </div>
    </section>
</body>
</html>